<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>
<form th:method="POST" th:action="@{/books/search}">
    <label for="name">Введите поисковый запрос</label>
    <input th:type="text" id="name" name="query">
    <input type="submit" value="Искать">
</form>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <p>Таких книг нет</p>
    </div>

    <div th:each="book : ${books}">
        <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>

        <div th:if="${book.getOwner() != null}">
            <p>Книга сейчас у: <span th:text="${book.getOwner().getName()}">Person name</span></p>
        </div>

        <div th:if="${book.getOwner() == null}">
            <p>Книга свободна</p>
        </div>
        <hr/>
    </div>
</div>


</body>
</html>