<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()} + ', ' + ${book.getAuthor()}"></title>
</head>
<body>
<p th:text="${'Название книги: ' + book.getTitle()}">Название книги</p>
<p th:text="${'Автор книги: ' + book.getAuthor()}">Автор книги</p>
<p th:text="${'Год: ' + book.getYear()}">Год</p>

<div th:if="${owner}">
    <p>Книга сейчас у:<span th:text="${owner.getName()}"></span></p>
    <form th:method="PATCH" th:action="@{/books/{id}/unassign(id = ${book.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
    <hr>
</div>

<div th:if="${people}">
<p>Эта книга свободна. Кому назначить ее?</p>
<form th:method="PATCH" th:action="@{/books/{id}/assign(id = ${book.getId()})}">
    <label for="person">Выберите человека</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
    </select>
    <input type="submit" value="Назначить книгу">
</form>
</div>

<!--
<form th:method="PATCH" th:action="@{/book/{id}(id = ${book.get().getBook_id()})}">
    <select th:object="${person}" th:field="*{person_id}">
        <option th:each="person : ${people}" th:value="${person.getPerson_id()}"></option>
    </select>
    <input type="submit" value="Назначить книгу">
</form>
-->

<hr>

<a th:href="@{/books/{id}/edit(id = ${book.getId()})}">Редактировать книгу</a>


<form th:method="DELETE" th:action="@{/books/{id}(id = ${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>